<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".fbx" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".hmd" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".rule" mimeType="text/plain" />
            <mimeMap fileExtension=".atlas" mimeType="text/plain" />
            <mimeMap fileExtension=".spines" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
